* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: futura;
  /* overflow: hidden; */

}

body {
  /* background-color: #1c1f24; */
  background-color: #1c1f24;
  color: aliceblue;
}

#main {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: auto;
}

.bag-wrap {
  width: 10%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;

  color: white;
  -webkit-text-fill-color: black; /* will overide regardless of order*/
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.board {
  display: grid;
  justify-content: center;
  width: 500px;
  /* background-color: greenyellow; */
}

.cell-wrap {
  display: grid;
  width: max-content;
  height: max-content;
  justify-items: center;
  background-color: #232d3e;
  border: 4px solid #232d3e;
  border-radius: 1%;
  margin: 1em auto;
}

.cell {
  width: 25px;
  height: 25px;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  position: relative;
  cursor: pointer;
  margin: 0.1em;
  border-radius: 15%;
  background-color: #151B25;
}

.special {
  /* font-size: 70%; */
  text-align: center;
  color: white;
}


.slot-wrap {
  display: flex;
  justify-content: center;
  position: relative;
  /* background-color: seagreen; */
}

.slot {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  width: 35px;
  height: 35px;
  margin: 0.1em;
  cursor: pointer;
  position: relative;
  border: 2px solid thistle;
  border-radius: 15%;
  background-color: #232d3e;



}

.tiles {
  display: flex;
  justify-content: center;
  align-items: center;
  /* visibility: hidden; */
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 1.5em;
  border-radius: 10%;
  background-color: tan;
}


.btn-wrap {
  display: flex;
  justify-content: center;
}

button {
  font-size: 1.5em;
  width: 100%;
  margin: 0.5em;
  padding: 0 0.5em;
  background-color: #151B25;
  border: 2px solid thistle;
  border-radius: 10px;
  color: white;
}

button:hover {
 background-color: skyblue;
}

.rules-wrap {
  width: 10%;
}

footer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  /* background-color: indianred; */
}

a:visited {
  color: skyblue;
}









.active {
  background-color: #8196b8;
  border: 2px solid #ccd5e2;
}

/* #8196b8; */